/***************SHARED STYLES*********************/
body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: black;
    padding: 0 20px 20px;
    background: white;
}